body {
    font-family: 'Fira Code', monospace; 
    color: #656839;
    background-color: #cbc9ad; 
}

header {
    padding: 10px; 
    text-align:right; 
    font-size:large; 
}

h1 {
    font-size:xx-large; 
}

h2 {
    font-size:x-large;
    color:#25283d;
    text-align: center;
    text-decoration: underline;
}

nav {
    display: flex; 
    justify-content: flex-end;
}

nav a {
    color:#25283d; 
    font-size: larger;
    font-weight: 600; 
    padding: 10px; 
    text-align:center; 
    text-decoration: none;
}

nav a:hover {
    background-color:#25283d ;
    color: #bddbd0
}

.aboutme-text {
    font-size: larger;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
}

.about {
    text-align: center;
}

.portfolio {
    display: flex;   
    text-align: center; 
    font-size: small;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.portfolio-item {
    border: 5px solid #656839;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px 5px 5px;
}

.portfolio-item:hover {  
    border-style: dashed;
    background-color: #bddbd0;
}

.portfolio-item h3 {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.portfolio-photo {
    max-height: 200px;
    object-fit: cover;
    padding: 5px; 
}

.portfolio-photo:hover {
    max-height: 250px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-item a {
    padding: 5px; 
    display: inline;
    color:#656839; 
}

